<header>
  <nav class="navbar">
    <a href="index.html" class="logo">
    <img src="/images/unl_civil.jpg" alt="CIVE 202 logo" class="logo-img">
    <span>CIVE 202</span>
    </a>

    <div class="nav-links">
      <a href="/index.html">Home</a>
      <a href="/course.html">Course Overview</a>
      <a href="/project.html">Projects</a>
      <a href="/student_outcomes.html">Student Outcomes</a>
      <a href="/team.html">Team</a>
      <a href="/publication.html">Publications</a>
    </div>
  </nav>
</header>